@import "base";

#ext-container {
    .container {
        display: flex;
        flex-direction: column;

        .checklist-items {
            flex: 1;
            max-height: 400px;
            overflow: auto;
            margin-left: 10px;
            margin-top: 10px;
            margin-bottom: 10px;

            .checklist-item {
                display: flex;

                .checkbox {
                    flex: 1;
                    margin-right: 10px;
                }

                .delete-item-button {
                    color: #da0a00;
                }
            }
        }

        .add-checklist-items {
            display: flex;
            margin-left: 10px;

            .add-icon {
                margin-right: 10px;
                padding: 0;
                color: green;
                font-weight: bold;
                width: 20px;
                height: 24px;
            }

            input {
                flex: 1;
                max-width: 200px;
            }
        }

        .input-error {         
            margin-left: 34px;
        }
    }
}